<script lang="ts">
	import DemoArea from '$lib/components/docs/demoArea.svelte';
	import Cairn from '$lib';

	let gap = 10;
</script>

<section id="gap-example">

### Gap
Set the gap between items in the `Cairn.Layout` component using the `gap` prop.

```svelte
<Cairn.Layout gap={10}>
    ...
</Cairn.Layout>

````


Todo: support different gaps for columns and rows
```svelte
<Cairn.Layout gap={{column: 10, row: 20}}>
    ...
</Cairn.Layout>
```

<DemoArea title="Gap Interactive Example" maxHeight="500px">
  <div slot="code">

```svelte
<script>
  import Cairn from 'svelte-cairn';

	let gap = 10;
</script>

<input type="range" min="0" max="40" bind:value={gap} />
<p>Gap: {gap}</p>

<Cairn.Layout columns={3} {gap}>
  {#each { length: 9 } as _, i}
    <Cairn.Item>
      <div style:height="{i % 2 === 0 ? 200 : 300}px" style:background="rgb(128 128 128 / 20%)" />
    </Cairn.Item>
  {/each}
</Cairn.Layout>
```

  </div>

  <div>
	<input type="range" min="0" max="40" bind:value={gap} />
	<p>Gap: {gap}</p>
	<Cairn.Layout columns={3} {gap}>
		{#each { length: 9 } as _, i}
			<Cairn.Item>
				<div style:height="{i % 2 === 0 ? 200 : 300}px" style:background="rgb(128 128 128 / 20%)" />
			</Cairn.Item>
		{/each}
	</Cairn.Layout>
  </div>
</DemoArea>
  </section>
